###### Ansible Version requirements ######
ansible-core >=2.11, <2.12
ansible>=4.0,<5.0

# Linting
yamllint
ansible-lint
# Molecule
molecule[docker,ansible,lint]
# other
docker
requests
netaddr
pytest-testinfra
flake8


