###### Ansible Version requirements ######
https://github.com/ansible/ansible/archive/devel.tar.gz
# ansible-core
ansible

# Linting
yamllint
ansible-lint
# Molecule
molecule[docker,ansible,lint]
# other
docker
requests
netaddr
pytest-testinfra
flake8
zipp
pyyaml
# LDAP
python-ldap
# vmware
pyVim
pyvmomi
# Ansible/Windows
pywinrm>=0.3.0
# Opennebula
pyone
# netapp
netapp-lib
# proxmox
proxmoxer
# netbox
pynetbox
# Dependency management
pipdeptree
