###### Ansible Version requirements ######
ansible-core>=2.12,<2.13
ansible>=5.0,<6.0

# Linting
yamllint
# ansible-lint requires ansible-core>=2.12
ansible-lint
# Molecule
molecule[docker,ansible,lint]
# other
docker
requests
netaddr
pytest-testinfra
flake8
zipp
pyyaml
# LDAP
python-ldap
# vmware
pyVim
pyvmomi
# Ansible/Windows
pywinrm>=0.3.0
# Opennebula
pyone
# netapp
netapp-lib
# proxmox
proxmoxer
# netbox
pynetbox
# Dependency management
pipdeptree
